<%- include("../partials/header") %>
<body>
    <%- include("../partials/navigation") %>

    <table>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Platform</th>
            <th>Publisher</th>
            <th>Developer</th>
            <th>Release Date</th>
            <th>Image</th>
          </tr>
            <tr>
        <% for(var i=0; i<list.length; i++) { %>
        
                    <td><%=list[i].title %></td>
                    <td><%=list[i].genre %></td>
                    <td><%=list[i].platform %></td>
                    <td><%=list[i].publisher %></td>
                    <td><%=list[i].developer %></td>
                    <td><%=list[i].release_date %></td>
                    <td><img src="<%=list[i].thumbnail %>"</td>
                </tr>


                <% }; %>


    </table>
    <%- include("../partials/footer") %>
</body>

